<div class="container">
  <h1 class="text-center justify-center">Student Details</h1>
  <div class="col-md-12">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">Student</li>
        <li class="breadcrumb-item active">Student</li>
      </ol>
    </nav>
  </div>

  <div class="form-field">
    <form>
      <div class="row justify-content-center">

        <div>
          <div class="image-box">
            <img src="" alt="">
            <input class="form-control" type="file">
          </div>
        </div>

        <div class="col-md-10 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Batch No</mat-label>
              <input matInput placeholder="S:Id" required>
            </mat-form-field>
          </div>
        </div>

        <div class="label mb-4 col-md-10 col-sm-12 ">
          <mat-label>01. Programm Applied For :</mat-label>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the Programme</mat-label>
              <mat-select data-live-search="true" required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Others........</mat-label>
              <input matInput placeholder="If any option">
            </mat-form-field>
          </div>
        </div>

        <div class="label mb-4 col-md-10 col-sm-12">
          <mat-label>02. Personal Details :</mat-label>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <textarea matInput placeholder="Joshoph John" required></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Name with Initial</mat-label>
              <textarea matInput placeholder="J. John" required></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Sex</mat-label>
              <mat-select required>
                <mat-option value="Male">Male</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Transgender">Transgender</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input matInput placeholder="YYYY/MM/DD" required>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>NIC No</mat-label>
              <input matInput placeholder="12345678" required>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Passport No</mat-label>
              <input matInput placeholder="12345678">
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Permanant Address</mat-label>
              <textarea matInput placeholder="Kalmunai-01" required></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Current Address</mat-label>
              <textarea matInput placeholder="Kalmunai-01" required></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Student Mobile No</mat-label>
              <input type="number" matInput placeholder="0777123456" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Student Telephone No</mat-label>
              <input type="number" matInput placeholder="0671234567" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input type="email" matInput placeholder="john1234@gmail.com" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Parents or Guardian Name</mat-label>
              <input matInput placeholder="Joshoph" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Guardian Mobile No</mat-label>
              <input type="number" matInput placeholder="0777123456" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Guardian Telephone No</mat-label>
              <input type="number" matInput placeholder="0671234567" required>
            </mat-form-field>
          </div>
        </div>
        <div class="label mb-4 col-md-10 col-sm-12">
          <mat-label>Educational Qualification :</mat-label>
        </div>

        <div class="enterline col-md-10">
          <p-divider align="center">
            <span class="p-tag">GCE Ordinary Level :</span>
          </p-divider>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>O/L Year</mat-label>
              <input type="number" matInput placeholder="2015" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>O/L Index</mat-label>
              <input type="number" matInput placeholder="123456789" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 1st subject</mat-label>
              <mat-select required>
                <mat-option value="(34) Science">(34) Science</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 2nd subject</mat-label>
              <mat-select required>
                <mat-option value="(32) Mathematics">(32) Mathematics</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 3rd subject</mat-label>
              <mat-select required>
                <mat-option value="(31) English">(31) English</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 4th subject</mat-label>
              <mat-select required>
                <mat-option value="(33) History">(33) History</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select  required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 5th subject</mat-label>
              <mat-select required>
                <mat-option value="(21) Sinhala Language & Lit.">(21) Sinhala Language & Lit.</mat-option>
                <mat-option value="(22) Tamil Language & Lit.">(22) Tamil Language & Lit.</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 6th sublect</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select  required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 1st subject Group</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 2nd subject Group</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 3rd subject Group</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select  required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="enterline col-md-10">
          <p-divider align="center">
            <span class="p-tag">GCE Advance Level :</span>
          </p-divider>
        </div>
        <div class="col-md-10 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the stream</mat-label>
              <mat-select required>
                <mat-option value="Physical Science">Physical Science</mat-option>
                <mat-option value="Biological Science">Biological Science</mat-option>
                <mat-option value="Technology">Technology</mat-option>
                <mat-option value="Commerce">Commerce</mat-option>
                <mat-option value="Arts">Arts</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>A/L Year</mat-label>
              <input type="number" matInput placeholder="2015" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>A/L Zscore</mat-label>
              <input type="number" matInput placeholder="2.0" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>A/L Index</mat-label>
              <input type="number" matInput placeholder="123456789" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 1st subject Group</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 2nd subject Group</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 3rd subject Groupt</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-7 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the 4th subject Group</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Select the grade</mat-label>
              <mat-select required>
                <mat-option></mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="button">
          <button id="add" mat-button mat-flat-button color="primary" >Save</button>
          <button mat-button mat-flat-button color="red" >Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
