<!-- form start -->
<h2 mat-dialog-title><Label></Label>Lecturer Payment Details</h2>
<form  name="lecturerPayAmountForm" >
  <mat-dialog-content class="mat-typography">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">

        </div>
        <div class="col-md-12 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Programme Name</mat-label>
              <input  matInput placeholder="C1234" required>
              <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Subject Name</mat-label>
              <input  matInput placeholder="john" required>
              <!-- <mat-icon matSuffix>account_circle</mat-icon> -->
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Hours</mat-label>
              <input  matInput placeholder="2" required>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <mat-label>Settle Amount</mat-label>
              <input  matInput placeholder="2" required>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-flat-button color="primary" >Pay</button>
  </mat-dialog-actions>
</form>

<!-- form is finished -->


